$azul-uno:#004AAD;
$azul-dos: #2270D8;
$azul-tres: #4D87D4;
$azul-cuatro: #89b6f1;
$azul-cinco: #d3e0f0;
$azul-seis: #ccddf3;
$gradiente: linear-gradient(90deg, #dce9fa, #f3f3f3);
$gris-uno: #707073;
$gris-dos: #babaca; 
$gris-tres: #f3f3f3;
$blanco: #ffffff;
$negro:#000000;